# Using https://github.com/github/gitignore/blob/master/Python.gitignore

# IDE/language servers
compile_commands.json
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/

# Test artifacts
fig/

# Environments
.env
.venv
env/
venv/

# Cache directories
.cache/
*_cache/
