name: Wheels

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
     - master
  release:
    types:
      - published

env:
  FORCE_COLOR: 3

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Build SDist
      run: pipx run build --sdist

    - name: Check metadata
      run: pipx run twine check dist/*

    - uses: actions/upload-artifact@v6
      with:
        name: cibw-sdist
        path: dist/*.tar.gz


  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, ubuntu-24.04-arm, windows-11-arm]

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - uses: astral-sh/setup-uv@v7

    - name: Install dependencies (macOS)
      if: runner.os == 'macOS'
      run: |
        brew install libomp
        echo "OpenMP_ROOT=$(brew --prefix libomp)" >> $GITHUB_ENV

    - name: Install dependencies (Windows)
      if: runner.os == 'Windows'
      run: |
        vcpkg install zlib:${{ matrix.os == 'windows-11-arm' && 'arm64' || 'x64' }}-windows
        echo "CMAKE_TOOLCHAIN_FILE=$VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake" >> $GITHUB_ENV

    - name: Find correct LLVM OpenMP DLL (Windows ARM64)
      if: matrix.os == 'windows-11-arm'
      run: |
        $libomp = Get-ChildItem -Path "C:\Program Files" -Filter libomp140.aarch64.dll -Recurse -ErrorAction SilentlyContinue | Select-Object -First 1
        if ($libomp) {
          echo "LIBOMP_DIR=$($libomp.DirectoryName)" >> $env:GITHUB_ENV
          echo "Found libomp at $($libomp.DirectoryName)"
          echo ('CIBW_REPAIR_WHEEL_COMMAND_WINDOWS=delvewheel repair -w {dest_dir} {wheel} --add-path "' + $libomp.DirectoryName + '"') >> $env:GITHUB_ENV
        } else {
          echo "::warning ::libomp140.aarch64.dll not found!"
        }
      shell: pwsh

    - uses: pypa/cibuildwheel@v3.3
      env:
        CIBW_ENABLE: cpython-prerelease
        CIBW_SKIP: "cp39-win_arm64 cp310-win_arm64 cp311-win_arm64"
        CIBW_ARCHS_WINDOWS: ${{ matrix.os == 'windows-11-arm' && 'ARM64' || 'auto' }}
        MACOSX_DEPLOYMENT_TARGET: "15.0"
        CIBW_ENVIRONMENT_WINDOWS: SKBUILD_CMAKE_ARGS="-DCMAKE_TOOLCHAIN_FILE=$VCPKG_INSTALLATION_ROOT/scripts/buildsystems/vcpkg.cmake"
        CIBW_ENVIRONMENT_MACOS: OpenMP_ROOT=$OpenMP_ROOT

    - name: Verify clean directory
      run: git diff --exit-code
      shell: bash

    - uses: actions/upload-artifact@v6
      with:
        name: cibw-wheels-${{ matrix.os }}
        path: wheelhouse/*.whl


  upload_all:
    name: Upload if release
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    environment: pypi
    permissions:
      id-token: write
      attestations: write

    steps:
    - uses: actions/setup-python@v6
      with:
        python-version: "3.x"

    - uses: actions/download-artifact@v7
      with:
        pattern: cibw-*
        merge-multiple: true
        path: dist

    - name: Generate artifact attestation for sdist and wheels
      uses: actions/attest-build-provenance@v3
      with:
        subject-path: "dist/*"

    - uses: pypa/gh-action-pypi-publish@release/v1
